.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #3ea1c2;
}

.logo img {
  height: 50px;
}

.slogan-text {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

@media (max-width: 930px) {
  .slogan-text {
    font-size: 18px;
  }
}
